.idea
node_modules
/.idea
.nyc_output
/coverage/
package-lock.json
/lib/
/gh-pages/
/dist
/fs-test/
/typedocs/


# Build folders
lib/
es6/
es2020/
esm/
typedocs/

.DS_Store
out.bin

/gh-pages/

.claude/

.yarn/install-state.gz
