name: Checks

on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next

permissions:
  contents: read # for checkout

jobs:
  test:
    name: Test on Node.js v${{ matrix.node-version }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        node-version: [22.x, 24.x]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Enable corepack
        run: corepack enable
      - name: install
        run: yarn
      - name: run typecheck
        run: yarn typecheck
      - name: run Prettier
        run: yarn prettier:check
      - name: run tests
        run: yarn test
      - name: run build
        run: yarn build
        env:
          CI: true
